QHBoxLayout#title_layout
{
background-color:#EEEEEE;
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
}

QVBoxLayout#page_layout
{
background-color:#EEEEEE;
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
}

QHBoxLayout#top_layout
{
background-color:#EEEEEE;
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
}

QHBoxLayout#body_layout
{
background-color:#EEEEEE;
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
}

QHBoxLayout#tail_layout
{
background-color:#EEEEEE;
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
}

QHBoxLayout#bottom_layout
{
background-color:#EEEEEE;
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#top_background
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
min-height: 3px;
max-height: 3px;
}

QLabel#body_background
{
background-color:#EEEEEE;
margin: 0px;
border: 0px;
padding: 0px;
}

QWidget#header_left
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_header_left.png');
}

QWidget#header
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_header.png');
}

QWidget#header_right
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_header_right.png');
}

/* Border images of the widget */
QLabel#top_left_img
{
background-color:#FF0000;
background-image:url('THEMEDIR/notepad_top_left.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#top_img
{
background-color:#00FF00;
background-image:url('THEMEDIR/notepad_top.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#top_right_img
{
background-color:#0000FF;
background-image:url('THEMEDIR/notepad_top_right.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#left_img
{
background-color:none;
background-image:url('THEMEDIR/notepad_left_side.png');
background-position: top right;
background-origin: content;
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#right_img
{
background-color:#FFFF00;
background-image:url('THEMEDIR/notepad_right_side.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#bottom_left_img
{
background-color:#FF7700;
background-image:url('THEMEDIR/notepad_bottom_left.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#bottom_img
{
background-color:#00FF00;
background-image:url('THEMEDIR/notepad_bottom.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QLabel#bottom_right_img
{
background-color:#FF7700;
background-image:url('THEMEDIR/notepad_bottom_right.png');
margin: 0px;
border: 0px;
padding: 0px;
}

/* top part of the widget (added to title_layout) */
QLineEdit#line_title
{
background-color:#EEEEEE;
border: 0px;
margin: 0px 0px 0px 5px;
color:#555555;
}

QPushButton#add_note_button
{
background-color:#DDDDDD;
background-image:url('THEMEDIR/add_icon.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QPushButton#delete_note_button
{
background-color:#DDDDDD;
background-image:url('THEMEDIR/delete_icon.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QPushButton#font_button
{
background-color:#DDDDDD;
background-image:url('THEMEDIR/font_icon.png');
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
color:#9c9c9c;
}
/* End of title_layout */

/* Mid part of the widget */
QFrame#separator_line
{
color:#AAAAAA;
}

QTextEdit#noteText
{
background-color:#EEEEEE;
border: 0px;
margin: 10px 5px 10px 5px;
color:#000000;
}

/* Bottom part of the widget (added to tail_layout) */
QPushButton#prev_note
{
background-color:#EEEEEE;
background-image:url('THEMEDIR/prev_note.png');
margin: 0px;
border: 0px;
padding: 0px;
}

QPushButton#next_note
{
background-color:#EEEEEE;
background-image:url('THEMEDIR/next_note.png');
margin: 0px;
border: 0px;
padding: 0px;
}
QLabel#pos_in_notes_label
{
background-color:#EEEEEE;
margin: 0px;
border: 0px;
padding: 0px;
}
/* End of tail_layout */

/*QWidget
{
background-color:#FFFFFF;
}*/

QHBoxLayout
{
background-color:#EEEEEE;
margin: 0px;
border: 0px;
padding: 0px;
}
